.img-style{
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border:  5px outset blue;
  transition: width 2s, height 2s, transform 1s;
}

img.img-ani:hover{
  width: 300px;
  height: 300px;
  transform: rotate(360deg);
}


.navigation{
  background-color: #333;
  height: 110px;

}
.logo{
  float: left;
  margin-left: 80px;

}
.navigation ul{
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: inline-block;
}
.navigation li{
  display: inline;
}

.navigation ul li a{
  text-align: center;
  display: inline-block;
  color: white;
  padding: 42px 42px;
  margin: 0;
  text-decoration: none;
}

.navigation ul li a:hover{
  background: #111;
}

.active{
  background-color: DodgerBlue;
  color: white;
}
.bgimg{
  position:relative;
}
.bgimg img{
  height:auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
  opacity: 0.5;
    filter: alpha(opacity=50);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
